@use "../../styles/abstracts/mixins" as m;

.item {
  padding: 1rem;
  min-height: 6rem;
  width: 100%;
  display: grid;
  background-color: rgb(58, 58, 58);
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: 2fr 1fr;
  &:hover {
    background-color: #555;
  }

  & span {
    grid-column: 1/4;
    font-size: 1.3rem;
  }
}

.list {
  @include m.flexCenter(column);
  gap: 0.5rem;
  //   margin-top: 7rem;
  justify-content: flex-start;
  overflow: scroll;
}

.shortList {
  height: 50vh;
}

.heading {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  & li {
    list-style: none;
  }
}
