@use '../styles/abstracts/mixins' as m;
@use '../styles/abstracts/variables' as v;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family:
    Open Sans,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: rgb(39, 39, 39);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

#__next {
  position: relative;
}
.main {
  height: 100vh;
}

.about-hero__section {
  padding: 1rem;
  min-height: calc(100vh - 7rem);
  @include m.flexCenter();
  @include m.mediaDesktop {
    padding: 2rem;
  }
}

.about-hero {
  @include m.flexCenter(column);
  max-width: 120rem;
  text-align: center;
  gap: 1rem;
  & h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
    font-weight: 900;
    @include m.mediaDesktop {
      font-size: 8rem;
    }
  }
  & h2 {
    @include m.mediaDesktop {
      font-size: 4rem;
    }
  }
  & a {
    margin-top: 3rem;
    @include m.btnMain;
  }
}

.about-content__intro {
  @include m.flexCenter(column);
  padding: 1rem;
  gap: 2rem;
  @include m.mediaDesktop {
    flex-direction: row;
    max-width: 160rem;
    gap: 6rem;
  }

  & h3 {
    font-size: 4rem;
    @include m.mediaDesktop {
      font-size: 6rem;
      margin-top: 2rem;
    }
    text-align: center;
  }

  & div {
    @include m.flexCenter();
    align-self: flex-start;
    width: 100%;
    @include m.mediaDesktop {
      margin-top: 3rem;
    }
    height: 100%;
    max-width: 90rem;
    @include m.flexCenter(column);
    // gap: 0.5rem;
    justify-items: flex-start;
  }
}

.about-content__future {
  padding-top: 6rem;
}

.logo {
  @include m.flexCenter();
  height: 100%;
  width: 5rem;
  margin-top: -0.75rem;
  position: relative;
}

.service-form,
.equip-form {
  @include m.flexCenter(column);
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.service-form__button,
.form__button {
  background-color: black;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  padding: 1rem 2rem;
}

.background {
  position: fixed;
  // background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow-anchor: none;
  & img {
    filter: opacity(10%);
  }
}

.background-image {
  object-fit: cover;
  z-index: -100;
}

input:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#__next {
  position: relative;
}

.center {
  margin: auto;
}

.hero__container {
  @include m.flexCenter();
  min-height: calc(100vh - 7rem);
  height: 100%;
  padding-top: 1rem;
  @include m.mediaDesktop {
    min-height: calc(100vh - 20rem);
  }
}

.hero {
  @include m.flexCenter(column);
  width: 100%;
  height: 100%;
  // padding-top: 4rem;
  text-align: center;
  justify-content: flex-start;
  @include m.mediaDesktop {
    min-height: 70vh;
    height: 100%;
    padding: 0;
    @include m.flexCenter();
    justify-content: space-evenly;
  }
}

.hero-title {
  @include m.flexCenter(column);
  // margin-top: 3rem;

  @include m.mediaDesktop() {
    // margin-top: 8rem;

    margin-top: -10rem;
    max-width: 110rem;
    padding: 2rem;
    width: 100%;
    gap: 1rem;
  }

  & h1 {
    font-size: 4.5rem;
    // margin-top: -7rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    @include m.mediaDesktop {
      font-size: 8rem;
      margin-bottom: 2rem;
    }
  }

  & h3 {
    display: none;
    // font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;

    @include m.mediaDesktop {
      display: inline;
      font-size: 4rem;
    }
  }
}

.text {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0;
}

.text-yellow {
  color: v.$btn-main;
}

.hero-title h2 {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 500;

  // &::after {
  //   content: "";
  //   display: block;
  //   width: 25rem;
  //   background-color: #fff;
  //   height: 2px;
  //   margin: 2rem 0 0 4rem;
  // }
}

.hero-logo__mobile {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 2rem;
  max-width: 15rem;
  margin: auto;
  margin-bottom: 2rem;
  @include m.mediaDesktop {
    display: none;
  }
}

.hero-logo {
  @include m.flexCenter();
  margin-top: 2rem;
  @include m.mediaDesktop() {
    padding: 4rem;
    width: 50%;
  }
  height: 100%;
}

.hero-logo__image-container {
  width: 100%;
  @include m.flexCenter();
  height: 100%;

  position: relative;

  @include m.mediaDesktop() {
    max-width: 30vw;
  }
  // height: fit-content;
}

.hero {
  padding: 1rem;
  & p {
    @include m.mediaDesktop {
      font-size: 2rem;
      line-height: 1.5;
    }
  }
}

.hero__button-container {
  @include m.flexCenter();
  gap: 2rem;
  margin-top: 2rem;

  @include m.mediaPhone() {
    flex-direction: column;
  }

  & button {
    @include m.btnMain;

    &:active {
      @include m.btnMain;
    }
  }
}

#cta-link {
  @include m.btnMain;
  &:active {
    @include m.btnMain;
  }
}

#cta-btn {
  @include m.btnSec;
  &:active {
    @include m.btnSec;
  }
}
.logo-image {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$color-neutral-dark;
  padding: 2rem 0;
}

.title {
  margin: 1rem 0 1rem 0;
  text-align: center;
  color: v.$grey-color-1;
}

.post-card__image {
  border-radius: 5px 5px 0 0;
}

.post-card__title {
  color: v.$grey-color-8;
}

.post-card__text {
  color: v.$grey-color-8;
}
.post-card__small {
  font-size: 1.1rem;
  color: v.$grey-color-8;
  margin: 0.5rem 0 0.5rem;
}

.post-card__lower {
  margin: 1rem;
  overflow: hidden;
}

.post__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: v.$grey-color-1;
  @include m.mediaDesktop {
  }
}

.post__title h1 {
  font-size: 2.5rem;
  /* color: var(--grey-color-8); */
}

.post__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  height: 52vh;
  width: 100%;
  background-color: v.$transparent;
  & h1 {
    @include m.mediaDesktop {
      font-size: 5rem;
    }
  }
}

.post__title h1 {
  margin-top: 3rem;
  max-width: 1000px;
}

.post__info {
  margin: 1em;

  display: flex;
  gap: 5rem;
  font-size: 1.4rem;
}

.post__image-container {
  margin-top: -33rem;
  max-width: 1000px;
}

.post__body {
  color: v.$text-color-dark;
  margin: 3rem 0 3rem;
  padding: 0 1rem;
  @include m.mediaDesktop {
    max-width: 80rem;
  }
}

.post__body-html {
  & img {
    width: 100%;
  }
}

.post__body-html p {
  // color: v.$text-color-dark;
  margin: 3em 0 3em 0;
  line-height: 1.5;
}

.list {
  display: grid;
  gap: 1em;
  margin-bottom: 1em;
}

@media (min-width: 1200px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

.list button {
  margin-top: 1em;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: v.$color-primary;
  border: none;
  color: v.$text-color-light;
}

.list button:hover,
.list button:focus {
  background-color: v.$color-primary-dark;
  color: v.$text-color-dark;
  /* border: solid 1px var(--color-primary); */
}

.active {
  position: relative;
}
.active::after {
  content: '';
  /* border: 1px solid #be3939; */
  position: absolute;
  height: 4px;
  background: v.$color-primary;
  bottom: -4px;
  border-radius: 6px;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
}

.contact-hero__section {
  // padding: 5rem 0;
  min-height: calc(100vh - 7rem);
  @include m.flexCenter(column);
  @include m.mediaDesktop() {
    min-height: calc(100vh - 20rem);
  }
}

.contact-hero {
  @include m.flexCenter(column);
  height: 100%;
  padding: 1rem;
  margin-top: 3rem;
  gap: 1rem;
  max-width: 110rem;
  color: v.$grey-color-2;

  text-align: center;

  & i {
    font-size: 2rem;
    @include m.mediaDesktop {
      font-size: 4rem;
    }
  }
  & h3 {
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    @include m.mediaDesktop {
      // font-size: 4rem;
      margin-top: 2rem;
    }
  }

  & h1 {
    font-size: 4.5rem;
    font-weight: 800;
    // margin-bottom: 1rem;
    line-height: 1.05;
    color: v.$grey-color-1;

    @include m.mediaDesktop {
      font-size: 10rem;
    }
  }

  & svg {
    max-width: 3rem;
    @include m.mediaDesktop {
      max-width: 10rem;
      max-width: 10rem;
    }
  }

  & h2 {
    font-weight: 400;
    font-size: 3rem;
    @include m.mediaDesktop {
      font-size: 6rem;
    }
  }

  & a {
    @include m.flexCenter();
    gap: 1rem;
    @include m.mediaDesktop {
    }
  }

  & button {
    margin-top: -2rem;
    @include m.mediaDesktop {
      margin-top: 0rem;
    }
  }
}

.contact-form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$color-neutral-dark;
  // padding: 3rem 0;
  min-height: 70vh;
}

.about-content__container {
  background-color: v.$color-primary-dark;
  padding: 1rem;
  @include m.flexCenter(column);
  padding: 10rem 0 10rem;
  // max-width: 160rem;
  margin: auto;
  & h3 {
    margin-bottom: 1rem;
  }

  & p {
    margin-bottom: 2rem;
    line-height: 1.75;
  }
}

.services {
  padding: 2rem 0;
  min-height: 50vh;
  background-color: v.$grey-color-0;
  color: v.$grey-color-7;

  & h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  & ul {
    @include m.flexCenter();
    gap: 2rem;
    flex-wrap: wrap;
  }

  & li {
    max-width: 750px;
  }
}

.services__content {
  padding: 2rem;
  max-width: 80rem;
  color: v.$text-color-dark;
  line-height: 1.75;

  & h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  & li {
    padding: 2rem 0;
  }
}

.reviews {
  padding: 2rem;
  @include m.flexCenter();
  gap: 4rem;
  min-height: 30vh;
  background-color: v.$grey-color-9;

  & h3 {
    font-size: 4rem;
    text-align: center;
    color: v.$grey-color-4;
  }
}

.review-image__container {
  width: 20rem;
  & img {
    filter: grayscale(100%);
  }
}

.why {
  text-align: center;
  padding: 2rem;
  min-height: 50vh;
  background-color: v.$grey-color-0;
  color: v.$text-color-dark;

  gap: 1rem;
  & h2 {
    margin: 4rem 0 4rem 0;
    font-weight: 100;
    font-size: 5rem;
  }
}

.why-item {
  max-width: 30rem;
  & p {
    text-align: left;
    margin-top: 0.75rem;
  }
  & h3 {
    color: v.$grey-color-7;
  }
}

.why__container {
  @include m.flexCenter();
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 6rem;
}

.last-call {
  text-align: center;
  padding: 2rem;

  @include m.mediaPhone {
    padding-bottom: 4rem;
  }
}

.why-div,
.last-call {
  min-height: 30vh;
  height: 100%;

  @include m.flexCenter();

  & h2 {
    font-size: 4rem;
    @include m.mediaDesktop {
      font-size: 5rem;
    }
  }

  & div {
    @include m.flexCenter(column);
    gap: 2rem;
  }
  & button {
    padding: 0.75rem 4rem;
    background-color: v.$color-neutral-dark;
    border-radius: 5px;
    border: 1px solid v.$color-primary;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: v.$text-color-light;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      color: v.$color-primary;
      background-color: v.$grey-color-7;
      transform: scale(1.04);
      transition: all 0.2s ease;
    }
  }
}
.unit {
  padding: 1rem;
  & li {
    @include m.flexCenter();
    justify-content: flex-start;
    gap: 1.5rem;
  }
}

.login__container {
  grid-column: 1 / -1;
  display: grid;
  grid-row: 1/3;
  width: 100%;
  align-items: center;
  background-color: v.$light-primary-color;
  & img {
    height: 10rem;
  }

  @include m.mediaTablet {
    grid-template-columns: 2fr 1fr;
  }

  @include m.mediaDesktop {
    grid-template-columns: 4fr 5fr;
  }
}

.logo {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 3rem;

  @include m.mediaPhone {
    margin-bottom: 0rem;
  }
}

.logo-text {
  font-weight: 400;
  font-size: 5rem;
  line-height: 0.9;
}

.login-form__container {
  @include m.flexCenter(column);
  width: 80%;
  margin-inline: auto;

  @include m.mediaPhone {
    width: 90%;
  }
}

.login__hero {
  @include m.flexCenter(column);
  height: 95%;

  border-radius: 10px 0 0 10px;
  background: v.$color-primary;

  @include m.mediaPhone {
    display: none;
  }
}

.services__hero {
  min-height: 30vh;
  padding-top: 6rem;
  @include m.flexCenter(column);
  & h1 {
    text-align: center;
    padding: 3rem;
    font-size: 4rem;
  }
}

.logo__wrapper {
  width: 15rem;
  aspect-ratio: 19/16;
  position: relative;
}

.section--container {
  background-color: v.$grey-color-2;
  @include m.flexCenter(column);
  gap: 4rem;
  border-radius: 5px;
  margin: auto;
  max-width: 128rem;

  @include m.mediaDesktop {
    padding: 6rem;
  }
}

.hero-phone__mobile {
  @include m.mediaDesktop {
    display: none;
  }
  @include m.flexCenter();
  gap: 1rem;
  & h3 {
    margin: 0;
    color: v.$color-primary;
    font-size: 2.4rem;
    font-weight: 100;
    display: block;
  }
}

.services__intro {
  padding: 8rem 1rem 8rem;
  background-color: v.$color-primary-dark;
  width: 100%;
  @include m.flexCenter(column);

  & div {
    @include m.flexCenter(column);
    // justify-content: start;
    max-width: 90rem;
    gap: 6rem;
  }

  & h2 {
    font-size: 5rem;
    text-align: center;
  }

  & p {
    color: v.$text-color-light;
    font-size: 2rem;
  }
}

.services__services {
  @include m.flexCenter(column);
  min-height: 100vh;

  padding-top: 4rem;

  @include m.mediaDesktop {
    padding-top: 8rem;
  }

  & h2 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    @include m.mediaDesktop {
      font-size: 6rem;
      margin: 0;
    }
  }
}

.services__grid {
  // max-width: 140rem;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-area: 1fr;
  @include m.mediaDesktop {
    align-items: start;

    grid-template-columns: 1fr 1fr;
    padding: 8rem;
  }
  @include m.mediaWideDesktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.background-dark {
  background: #181818;
}

.font-thin {
  font-weight: 100;
}
