@use './../../../../styles/abstracts/mixins' as m;
@use './../../../../styles/abstracts/variables' as v;

.container {
  @include m.flexCenter();

  min-height: 100vh;
  padding: 0 1rem;
  @include m.mediaDesktop {
    min-height: calc(100vh - 20rem);
  }
  width: 100%;
}

.hero {
  @include m.flexCenter(column);
  // padding: 1rem;
  margin-top: -10rem;
  padding-top: 6rem;
  width: 100%;
  @include m.mediaDesktop {
  }
  max-width: 110rem;
  @include m.flexCenter(column);
  gap: 4rem;

  & h1 {
    font-size: 5.5rem;
    @include m.media1200 {
      font-size: 10rem;
    }
    @include m.mediaDesktop {
      font-size: 8rem;
    }
    text-align: center;

    line-height: 1.1;
  }
  & h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: v.$text-color-light;
  }
}

.text {
  font-weight: 100;
  text-transform: uppercase;
  color: v.$btn-main;
  letter-spacing: 0;
}

.btn {
  @include m.btnMain;
}
