@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;

.container {
  @include m.flexCenter(column);
  padding: 4rem 0 12rem;
}

.contactForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
  border-radius: 5px;
  background-color: v.$grey-color-0;
  padding: 1rem;
  color: v.$text-color-dark;
  font-size: 1.6rem;
  letter-spacing: 0rem;
  font-weight: 600;

  & h2 {
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
  }
}

@media (min-width: 800px) {
  .contactForm {
    max-width: 800px;
  }
}

.contactForm label {
  margin-bottom: 0.2rem;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 600px) {
  .nameContainer {
    flex-direction: row;
  }

  .contactForm {
    padding: 3rem;
  }
}

.nameContainer .inputWrapper {
  width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  height: 7rem;
}

.input,
.textarea {
  border-radius: 5px;
  background-color: v.$grey-color-2;
  border: 1px solid v.$color-secondary;
  height: 100%;
  padding: 0 1rem;
  transition: all 0.15s linear;
  font-size: 1.6rem;
}

.input:focus,
.textarea:focus {
  border: 2px solid v.$color-primary-dark;
  transition: all 0.15s linear;
  background-color: v.$grey-color-1;
}

.error {
  border: 2px solid #ca0101dc;
  transition: all 0.15s linear;
  background-color: #f8afaff5;
}

.errorText {
  color: #f82c2c;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.errorTextArea {
  color: #f82c2c;
}

.textarea {
  height: 20rem;
  padding: 1rem;
}

.contactForm button {
  margin-top: 1rem;
  padding: 1.5rem 1rem;
  width: 100%;
  border-radius: 5px;
  background-color: v.$color-primary-dark;
  border: solid 1px v.$color-primary;

  color: v.$color-primary;
  /* font-weight: 600; */
  font-size: 1.6rem;
  letter-spacing: 1px;
  transition: all 0.1s linear;
}

.contactForm button:hover,
.contactForm button:focus {
  background-color: v.$grey-color-8;
  border: solid 1px v.$color-primary-dark;
  transform: scale(1.03);
  transition: all 0.1s linear;
}

.textAreaWrapper {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.modalContent {
  @include m.flexCenter(column);
  -webkit-box-shadow: 0px 0px 300px -39px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 300px -39px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 300px -39px rgba(255, 255, 255, 1);
  position: relative;
  background-color: v.$color-primary-dark;
  border-radius: 25px;
  padding: 2rem;
  color: v.$text-color-light;
  height: 100%;
  font-size: 2rem;
  text-align: center;
  // align-items: flex-start;
  gap: 1rem;

  & h3 {
    align-self: center;
    font-size: 6rem;
    margin-top: 7rem;
    // margin-bottom: 1rem;
  }

  & button {
    @include m.btnMain();
  }
}

.logo {
  position: absolute;
  border-radius: 2rem 2rem 0 0;
  @include m.flexCenter();
  padding: 1.5rem;
  top: 0;
  width: 100%;
  background-color: v.$btn-main-text;
}
