@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/abstracts/variables' as v;

.container {
  @include m.flexCenter(column);
  min-height: 30vh;
  background-color: v.$grey-color-8;
  padding: 0 1rem;

  & h2 {
    font-size: 5rem;
    line-height: 1;
    @include m.mediaDesktop {
      font-size: 6rem;
    }
    @include m.mediaPhone {
      text-align: center;
    }
    @include m.flexCenter();
    gap: 0.5rem;
    margin: 8rem 0 2rem;
  }
}

.faq {
  @include m.flexCenter(column);
  align-items: flex-start;
  max-width: 90rem;

  & h4 {
    font-size: 2rem;
    @include m.mediaDesktop {
      font-size: 3rem;
    }
    @include m.flexCenter();
    gap: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  & p {
    margin-bottom: 2rem;
  }
}

.call {
  margin-top: 6rem;
  align-self: center;
  margin-bottom: 10rem;
  @include m.flexCenter(column);
  & h3 {
    font-size: 5rem;
    @include m.mediaDesktop {
      font-size: 6rem;
      line-height: 1.5;
    }
    line-height: 1.1;
    align-self: center;
    @include m.mediaPhone {
      text-align: center;
    }
  }
}
