@use './../../../styles/abstracts/mixins' as m;
@use './../../../styles/abstracts/variables' as v;

.section {
  background-color: v.$grey-color-0;
  @include m.flexCenter();
}

.container {
  @include m.flexCenter(column);
  color: v.$text-color-mid-dark;
  height: 100%;
  width: 95%;
  min-height: 50rem;
  max-width: 115rem;

  & h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 4.5rem;
    margin: 2rem 0 3rem 0;
  }

  & p {
    // font-size: 20px;
    margin-bottom: 1rem;
  }

  & h3 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 5rem;
    text-align: center;
  }
}

.about {
  max-width: 90rem;
}

.whyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;

  margin-top: 2rem;

  & div {
    @include m.flexCenter();
    gap: 2rem;
  }
}

.cta {
  @include m.flexCenter(column);
  margin: 5rem 0 5rem 0;

  & button {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
    &:last-child {
      color: v.$color-primary-light;
      border: 1px solid v.$color-primary-dark;
      background-color: v.$text-color-dark;
    }

    &:hover,
    &:focus {
      background-color: v.$btn-dark-hover;
      transform: scale(1.04);
      transition: all 0.2s ease;
    }
  }

  & h4 {
    font-size: 2rem;
  }
}

.btnContainer {
  @include m.flexCenter();
  gap: 1rem;
}
