@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;

.container {
  @include m.flexCenter(column);

  padding: 4rem 1.5rem 3rem;
  background-color: v.$color-primary-dark;

  @include m.mediaDesktop {
    padding: 6rem 2rem 4rem;
  }

  & h2 {
    font-size: 4.5rem;

    @include m.mediaDesktop {
      font-size: 5rem;
    }

    margin-bottom: 3rem;
    text-align: center;
  }

  & p {
    max-width: 80rem;
    margin: 0 auto 3rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 400;
    color: v.$grey-color-4;
    text-align: center;
    @include m.mediaDesktop {
      .container > p {
        font-size: 2rem;
      }
    }
  }
}

.grid {
  @include m.flexCenter(column);
  width: 95%;
  justify-items: center;
  align-items: start;
  gap: 3rem;
  display: grid;

  @include m.mediaDesktop {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 120rem;
  }
}

.cta {
  @include m.flexCenter(column);
  margin: 3rem 0 3rem 0;
  width: 100%;

  & h3 {
    font-size: 2.5rem;
  }

  & h4 {
    font-size: 3rem;
  }

  @include m.mediaDesktop {
    & h3 {
      font-size: 3.5rem;
    }

    & h4 {
      font-size: 5rem;
    }
  }
}
