@use './variables' as v;

@mixin gradient {
  background: linear-gradient(
    295deg,
    rgba(224, 59, 251, 1) 0%,
    rgba(134, 38, 250, 1) 100%
  );
}

@mixin flexCenter($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin mediaTablet {
  @media (min-width: 700px) and (max-width: 1000px) {
    @content;
  }
}

@mixin mediaPhone {
  @media (max-width: 699px) {
    @content;
  }
}

@mixin mediaWideDesktop {
  @media (min-width: 1500px) {
    @content;
  }
}

@mixin mediaDesktop {
  @media (min-width: 1001px) {
    @content;
  }
}

@mixin mediaUpToDesktop {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin btnMain {
  padding: 1.5rem 1.75rem;
  border-radius: 10px;
  font-size: 2.1rem;
  font-weight: 600;
  color: v.$btn-main-text2;
  background-color: v.$btn-main;
  border: 3px solid v.$btn-main-border2;

  &:hover,
  &:focus {
    background-color: v.$btn-main-hover;
    transform: scale(1.03);
  }
}
