@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;

.card {
  @include m.flexCenter(column);
  width: 35rem;
  cursor: pointer;
  & h3 {
    // text-align: center;
    font-size: 2.1rem;
    font-weight: 500;
    color: v.$color-primary;
    margin-bottom: 1rem;
  }

  & p {
    color: v.$grey-color-5;
    font-size: 1.6rem;
  }
}

.large {
  @include m.flexCenter(column);
  // --angle: 315deg;
  // background: linear-gradient(
  //   var(--angle),
  //   rgb(0% 0% 0%),
  //   rgb(13.3% 13.3% 13.3%),
  //   rgb(20% 20% 20%)
  // );
  background-color: v.$color-primary-dark;
  cursor: pointer;
  padding: 4rem;
  border-radius: 15px;
  width: 53rem;
  min-height: 70rem;
  & h3 {
    // text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: v.$color-primary;
    margin: 1rem 0;
  }

  & p {
    color: v.$text-color-light;
    font-size: 2rem;
  }

  & a {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: v.$btn-main;
    border: 2px solid v.$btn-main;
  }
  &:hover {
    transform: scale(1.02);
  }
}

.image {
  width: 100%;
  border-radius: 15px 15px 15px 15px;
}

.imageContainer {
  width: 100%;
}
