@use "../../styles/abstracts/variables" as v;
@use "../../styles/abstracts/mixins" as m;

.image {
  //   max-width: 60rem;
  //   max-height: 10rem;
  position: relative;
  min-height: 35rem;
  min-width: 50rem;
  align-self: flex-start;
  & img {
    border-radius: 5px 0 0 5px;
  }
}

.section {
  @include m.flexCenter();
  //   min-height: 50vh;
}

.container {
  @include m.flexCenter();
  gap: 5rem;
  background-color: v.$color-primary;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(32, 32, 32, 0.349);
  box-shadow: 0px 0px 15px 4px rgba(32, 32, 32, 0.342);
}

.wrapper {
  padding: 2rem;
  max-width: 70rem;
  & h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
  }
  & p {
    font-size: 1.8rem;
  }
  & button {
    display: block;
    padding: 1rem 2rem;
    background-color: v.$color-primary-dark;
    color: v.$color-primary;
    border: solid 1px v.$color-primary;
    border-radius: 5px;
    margin: 2rem auto;

    &:hover,
    :focus {
      background-color: v.$grey-color-7;
    }
  }
}

.right {
  //   background-color: v.$color-primary-light;
  color: v.$text-color-dark;
  width: 100%;
}

.left {
  //   background-color: v.$color-primary-dark;
  color: v.$text-color-dark;
  width: 100%;
}
