@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/abstracts/variables' as v;

.footer {
  background-color: v.$color-footer;
  width: 100%;
  @include m.mediaDesktop {
    padding: 5rem 10rem 0;
  }
  padding-top: 10rem;
  display: grid;
  grid-template-rows: 20rem 15rem 5rem;
  align-items: center;
  border-top: 1px solid v.$grey-color-8;
}

.nav {
  line-height: 2;
  margin: 1em auto;
}

.nav li {
  list-style: none;
}

.nav a {
  font-weight: 600;
  color: v.$grey-color-1;
  letter-spacing: 0.2rem;
}

.nav a:hover,
.nav a:focus {
  color: v.$btn-main;
}

.copyright {
  margin: 1em;
  align-self: center;
  justify-self: center;
  & p {
    text-align: center;
  }
}

.logo {
  margin: auto;
  grid-column: 1/4;
  @include m.mediaDesktop {
    grid-row: 2/3;
    max-width: 20rem;
  }
  width: 100%;
  height: fit-content;
  position: relative;
}

.logoContainer {
  @include m.flexCenter(column);
  text-align: center;
  & h1 {
    font-weight: 400;
    line-height: 1;
  }
}

.phone {
  @include m.flexCenter();
  gap: 1rem;
  grid-row: 3/4;
  & h3 {
    font-size: 3rem;
    font-weight: 100;
    color: v.$btn-main;
  }
}

.review {
  text-align: center;
  font-size: 2.5rem;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  animation: pulse 1.5s infinite;
  position: relative;

  &:hover,
  &:focus {
    color: v.$btn-main;
  }
}

@media (min-width: 800px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4fr 1fr;
    min-height: 30vh;
    height: 100%;
  }
  .copyright {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .logo {
    grid-row: 1/2;
  }
  .phone {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.siteBy {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 1rem;
  opacity: 0.4;

  a {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.75;
    }
  }
}
