@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/abstracts/variables' as v;

.container,
.containerHome {
  margin: auto;
  min-height: 100vh;
  height: 100%;

  background-color: v.$transparent;
  @include m.mediaTablet {
    padding: 1rem;
  }
}

.container {
  padding-top: 7rem;

  @include m.mediaDesktop {
    padding-top: 15rem;
  }
}

.containerHome {
  padding-top: 0;
}
