@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/abstracts/variables' as v;

.container,
.containerHome {
  margin: auto;
  min-height: 100vh;
  height: 100%;
  // padding-top: 7rem;

  // padding-bottom: 5rem;
  background-color: v.$transparent;
}

// .containerHome {
//   @include m.mediaDesktop {
//     margin-bottom: 0;
//   }
// }

.container {
  @include m.mediaDesktop {
    margin-top: 0;
  }
}
