@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/abstracts/variables' as v;

.menu,
.menuHidden {
  top: 7rem;
  height: calc(100dvh - 7rem);
  width: 100%;
  min-width: 0;
  position: fixed;
  overflow-anchor: none;
  overflow-y: auto;
  overscroll-behavior: contain;
  left: 0;
  right: 0;
  @include m.flexCenter(column);
  justify-content: space-between;
  gap: 3rem;
  transition: all 0.5s ease-in-out;
  background-color: v.$color-neutral-dark;
  z-index: 310;

  @include m.mediaDesktop {
    display: none;
  }

  & ul {
    margin-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    height: 100%;
    @include m.flexCenter(column);
    justify-content: flex-start;
    gap: 3rem;
  }

  & li {
    text-decoration: none;
    list-style: none;
    width: 80%;
    text-align: center;
  }
}

.menu {
  transform: translateX(0);
  pointer-events: auto;
}

.menuHidden {
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.link {
  background-color: v.$color-neutral;
  padding: 2rem;
}

.link:nth-child(1) {
  margin-top: 0rem;
}

.link a {
  font-size: 2rem;
  color: v.$grey-color-1;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-decoration: none;
}

.phone {
  @include m.flexCenter();
  gap: 1rem;

  & h3 {
    font-size: 2.4rem;
    font-weight: 100;
  }
}

.link:nth-child(1) {
  margin-top: 0rem;
}
