@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;

.container {
  @include m.flexCenter(column);

  @include m.mediaDesktop {
    flex-direction: row;
    min-height: calc(100vh - 20rem);
    gap: 4rem;
  }
}

// .mask {
//   //   position: absolute;
//   //   right: 0;
//   //   top: 0;
// }

.image {
  //   position: relative;
  margin: 2rem 0;

  @include m.mediaDesktop {
    margin-top: -10rem;
    margin-right: 2rem;
  }
}

// .overlay {
//   z-index: -6;
// }

.hero {
  @include m.flexCenter(column);

  @include m.mediaDesktop {
    gap: 2rem;
    margin-right: -4rem;
  }
  & h1 {
    margin-top: 6rem;
    font-size: 6rem;
    @include m.mediaDesktop {
      margin-top: -15rem;
      font-size: 8rem;
    }
    line-height: 1.05;
  }

  & h3 {
    margin-top: 2rem;
    @include m.mediaDesktop {
      margin-top: 0rem;
    }
  }
  text-align: center;
}

.btn {
  @include m.btnMain;
  margin-top: 2rem;
}

.introContainer {
  @include m.flexCenter(column);
  background-color: v.$color-primary-light;
  color: v.$text-color-dark;
  padding: 8rem 1rem;

  & h2 {
    font-size: 4rem;
    @include m.mediaDesktop {
      font-size: 6rem;
    }
    margin: 0 0 4rem 0;
    max-width: 120rem;
    line-height: 1.1;
    text-align: center;
  }
}

.introContent {
  @include m.flexCenter(column);
  max-width: 90rem;

  & p {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }

  & li {
    @include m.flexCenter();
    justify-content: flex-start;
    font-size: 1.8rem;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
